<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678641497101-qpobkn4eno0vsv7uba8lkia57bpgu2ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678641497101-qpobkn4eno0vsv7uba8lkia57bpgu2ui</string>
	<key>API_KEY</key>
	<string>AIzaSyBps_Xs0PHn8AxL9g12YigPHyIK7toli5g</string>
	<key>GCM_SENDER_ID</key>
	<string>678641497101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alobawa</string>
	<key>PROJECT_ID</key>
	<string>alobawa</string>
	<key>STORAGE_BUCKET</key>
	<string>alobawa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678641497101:ios:db61588e1b5f4fbd051144</string>
</dict>
</plist>